.inner {
  gap: 11px 20px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.categorie {
  display: flex;
  align-items: center;
  row-gap: 18px;
  flex-direction: column;
  color: var(--yellow);
  background: var(--primary);
  font-size: 50px;
  padding: 10px 50px;
  max-width: 205px;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: var(--yellow);
    span {
      color: var(--yellow);
    }
  }

  img {
    width: 105px;
    height: auto;
  }

  span {
    font-size: 20px;
    color: white;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .inner {
    column-gap: 10px;
  }
  .categorie {
    max-width: 150px;
    img {
      width: 66px;
    }
    span {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 330px) {
  .categorie {
    max-width: 145px;
  }
}
