.brands {
  margin-bottom: 60px;
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 22px;
}

.inner {
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto 60px;

  button {
    background: none;
    font-size: 40px;
    color: white;
    flex: 2;
  }
}

.slide {
  height: 130px;
  background: var(--primary);
  display: flex;
  border-radius: 10px;

  img {
    margin: auto;
  }
}

@media screen and (max-width: 1270px) {
  .inner {
    button {
      display: none;
    }
  }
}

@media screen and (max-width: 620px) {
  .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 450px) {
  .slide {
    height: 105px;

    img {
      height: 90px;
      width: 90px;
    }
  }
}
