:root {
  --primary: #143e59;
  --darkBlue: #12222d;

  --grey: #646464;
  --lightGrey: #bfbfbf;
  --yellow: #f4b41a;

  --swiper-theme-color: var(--yellow);
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
}
