footer {
  background: var(--primary);
}

.inner {
  padding: 55px 0 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.table {
  margin-bottom: 70px;
}

.thead {
  gap: 80px;
  color: white;
  font-weight: 700;

  td {
    padding: 0 40px 20px;
  }
}

.tbody {
  color: var(--lightGrey);

  td {
    padding: 0 40px 20px;

    ul {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      row-gap: 10px;

      li {
        cursor: pointer;
      }
    }
  }
}

.logo {
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 130px;
  color: var(--lightGrey);
  margin-bottom: 50px;

  li {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}

.social {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.socialLink {
  border: 1px solid var(--yellow);
  border-radius: 2px;
  color: var(--yellow);
  font-size: 20px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: var(--yellow);
    color: var(--darkBlue);
  }

  &:nth-child(1) {
    svg {
      transform: translateY(1px);
    }

    &:hover {
      svg > path {
        fill: var(--darkBlue);
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-align: center;
}

.payments {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.top {
  position: absolute;
  right: 0;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;
  color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 2px;
  width: 54px;
  height: 54px;
  cursor: pointer;

  &:hover {
    background: var(--yellow);
    color: var(--darkBlue);
  }
}

@media screen and (max-width: 765px) {
  .table {
    display: none;
  }

  .info {
    column-gap: 50px;
  }

  .payments {
    img {
      max-width: 60px;
    }
  }
}

@media screen and (max-width: 600px) {
  .logo {
    display: none;
  }
  .info {
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    row-gap: 15px;
    position: relative;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      width: 100vw;
      height: 1px;
      top: 120%;
      opacity: 0.5;
      left: -10px;
      background: var(--lightGrey);
    }
  }

  .top {
    display: none;
  }

  .bottom {
    flex-direction: column;
    padding-top: 5px;

    p {
      order: 2;
    }
  }

  .payments {
    order: 1;
    column-gap: 10px;

    img {
      max-width: 50px;
    }
  }
}
